body {
  margin: 0;
  font-family: arial;
  background: #166871;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 3vw;
  padding: 10px;
  margin: 0;
  text-align: center;
  background: #88d6de;
}
.body{
  font-size: 2vw;
  width:65%;
  margin: 0 auto;
  text-align: center;
  background: #88d6de;
  box-sizing: border-box;
}
ul{
  display: inline-block;
  text-align: center;
  background: #88d6de;
  font-weight: bold;
  padding: 10px 0 20px 0;
}
li{
  display: inline-block;
  padding: 0 10px;
  text-align: center;
}
img{
  width:50%;
  margin: 0 auto;
  text-align: center;
}
p{
  width: 100%;
  background: #88d6de;
  padding: 0 0 20px 0;
  box-sizing: border-box;
  margin: 0 auto;
}
.opened{
  /* background: #166871; */
  text-decoration:underline;
}
/* .close{
  background: #88d6de;
} */